<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert ="~{user/template_user::head}"></head>
    <body>
        <div th:insert ="~{user/template_user::header}" th:if="${id==null}"></div>
        <div th:insert ="~{user/template_user::userlogger}" th:unless="${id==null}"></div>
        <div class="container">
            <header class="jumbotron my-4">
                <strong><h1 class="display-3">Bienvenido gracias por la preferencia!</h1> 
            </header>


        </div>

    </body>
    <div class="footer" th:insert ="~{user/template_user::footer}"></div>
</html>
<style>
    .body{
        position: relative;
    }
    .footer{
        position: absolute;
        bottom:0px;
        height: 60px;
        width: 100%;
    }

</style>